.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  row-gap: 20px;
}

.city {
  background-color: var(--color-bg-accent);
  width: clamp(17.5rem, 16.786rem + 3.571vw, 20rem);
  border-radius: 8px;
  &__title {
    display: flex;
    gap: 8px;
    padding-top: 12px;
    padding-left: 20px;
  }
  &__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  &__favorite {
    fill: #757986;
    cursor: pointer;
  }
  &__descpiption {
    padding-top: 8px;
    padding-left: 20px;
    padding-bottom: 32px;
    color: var(--color-text-description);
    font-size: clamp(0.75rem, 0.714rem + 0.179vw, 0.875rem);
  }
  &__text {
    color: var(--color-text);
    font-size: clamp(0.82rem, 0.679rem + 0.357vw, 1rem);
  }
}
