.logic {
  display: flex;
  justify-content: space-between;
}

.toggler {
  height: 36px;
  &__btn {
    height: 100%;
    width: 50%;
    padding: 0 12px;
    color: var(--color-text);
    background-color: var(--color-bg);
    border: solid 1px var(--color-border);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-bg-accent);
    }
    &_list {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &_grid {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.content {
  margin-top: 16px;
}

.checked {
  background-color: var(--color-bg-accent);
}
