.main {
  width: 100%;
  margin-top: 36px;
  padding: 0 60px 0 52px;
}

.logic {
  display: flex;
  justify-content: space-between;
}

.toggler {
  height: 36px;
  &__btn {
    height: 100%;
    width: 50%;
    color: var(--color-text);
    background-color: var(--color-bg);
    padding: 0 12px;
    border: solid 1px var(--color-border);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-bg-accent);
    }
    &_list {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &_grid {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

.add-btn {
  height: 36px;
  padding: 0 20px;
  border-radius: 4px;
  border: solid 1px var(--color-button-create);
  background-color: var(--color-button-create);
  color: var(--color-bg);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: var(--color-bg);
    color: var(--color-button-create);
    // text-shadow: 0.5px 0.5px 1px var(--color-button-create);
    box-shadow: 1px 1px 20px var(--color-button-create);
  }
}
.content {
  margin-top: 16px;
}
