<app-header [text]="text"></app-header>
<main class="main">
  <div class="logic">
    <div class="toggler">
      <button class="toggler__btn toggler__btn_list" (click)="setListView()">
        Список
      </button>
      <button class="toggler__btn toggler__btn_grid" (click)="setGridView()">
        Плитка
      </button>
    </div>

    <button class="add-btn" (click)="addCity()">Создать</button>
  </div>
  <section class="content">
    <app-cities-list *ngIf="isList" [cities]="cities"></app-cities-list>
    <app-cities-grid *ngIf="isGrid" [cities]="cities"></app-cities-grid>
  </section>
</main>

<router-outlet />
